/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); */

@import url('/assets/iconos/iconos.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'DaxlinePro';
    src: url('/assets/fonts/DaxlinePro-Black.woff') format('woff'), url('/assets/fonts/DaxlinePro-Black.woff2') format('woff2'), url('/assets/fonts/DaxlinePro-Black.eot'), url('/assets/fonts/DaxlinePro-Black.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaxlinePro-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('/assets/fonts/DaxlinePro-ExtraBold.woff') format('woff'), url('/assets/fonts/DaxlinePro-ExtraBold.woff2') format('woff2'), url('/assets/fonts/DaxlinePro-ExtraBold.eot'), url('/assets/fonts/DaxlinePro-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaxlinePro-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('/assets/fonts/DaxlinePro-Medium.woff') format('woff'), url('/assets/fonts/DaxlinePro-Medium.woff2') format('woff2'), url('/assets/fonts/DaxlinePro-Medium.eot'), url('/assets/fonts/DaxlinePro-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaxlinePro-Medium.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('/assets/fonts/DaxlinePro-Regular.woff') format('woff'), url('/assets/fonts/DaxlinePro-Regular.woff2') format('woff2'), url('/assets/fonts/DaxlinePro-Regular.eot'), url('/assets/fonts/DaxlinePro-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/DaxlinePro-Regular.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

html {
    font-family: 'DaxlinePro', Arial, Helvetica, sans-serif;
}
div#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.btn {
    @apply rounded-lg transition-all duration-300
}
.btn-amarillo {
@apply bg-amarillo text-white hover:bg-principal focus:bg-principal focus:outline-none
}
.btn-gris {
    @apply bg-gris-claro text-gris-medio hover:text-gris-oscuro focus:text-gris-oscuro hover:bg-gris-medio hover:bg-opacity-40 focus:bg-gris-medio focus:bg-opacity-40 outline-none focus:outline-none disabled:text-gris-medio disabled:hover:bg-gris-claro  disabled:focus:bg-gris-claro
}
.btn-celeste {
    @apply bg-celeste text-white hover:bg-principal focus:bg-principal focus:outline-none
}
.btn-principal {
    @apply bg-principal text-white hover:bg-secundario focus:bg-secundario focus:outline-none
    }
.animate-topIn {
    animation: topIn .2s ease-in;
}

@media (min-width: 1024px) { 
    .lg\:animate-topIn {
        animation: topIn .2s ease-in;
    }    
 }
 @media (min-width: 640px) { 
    .sm\:animate-topIn {
        animation: topIn .2s ease-in;
    }    
 }
@keyframes topIn {
    from {
    /* transform: translateY(-5rem); */
    margin-top: 0rem;
    opacity: 0;
    }
    to {
    /* transform: translateY(-100%); */
    margin-top: -5rem;
    opacity: 1;
    }
}
.animate-topOut {
    animation: topOut .2s ease-in;
}
.lg\:animate-topOut {
    animation: topOut .2s ease-in;
}
@keyframes topOut {
    from {
    transform: translateY(0%);
    opacity: 1;
    }
    to {
    transform: translateY(20%);
    opacity: 0;
    }
}

details summary::marker, details summary::-webkit-details-marker {
    content:'';
    display: none;;
}

/* borde blanco para texto */
.border-text {-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;}

